//
// Liriope typography
//

// make px and REM 1/10th of the other
html { font-size: 62.5%; }

// --------------------------------------------------
// Functions
// --------------------------------------------------
//
@function toREM($pxval, $base: 10) {
    @if (unitless($pxval)) {
        $pxval: $pxval * 1px;
    }

    @if (unitless($base)) {
        $base: $base * 1px;
    }

    @return $pxval / $base * 1rem;
}

@mixin rem($property,$value) {
    #{$property}: $value +px;
    #{$property}: toREM($value);
}

// --------------------------------------------------
// MIXINS
// --------------------------------------------------
//
@mixin fontSize($size) {
  font-size: #{$size}px;
  font-size: toREM($size);
}
@function toREM($px, $base: 10) {
    @if (unitless($px)) {
        $px: $px * 1px;
    }
    @return $px / $base +rem;
}
@mixin rem($property, $value) {
    #{$property}: $value +px;
    #{$property}: toREM($value);
}

// --------------------------------------------------
// HTML Tags
// --------------------------------------------------
//
body { @include fontSize(14); }

h1 { @include fontSize(48); }
h2 { @include fontSize(36); }
h3 { @include fontSize(28); }
h4 { @include fontSize(23); }
h5 { @include fontSize(18); }
h6 { @include fontSize(14); }

