//
// Liriope typography
//

// make px and REM 1/10th of the other
html { font-size: 62.5%; }

// --------------------------------------------------
// Functions
// --------------------------------------------------
//
@function toREM($target, $base: 10) {
    @if unitless($target) {
        $target: $target * 1px;
    }
    
    // provide an out if no coversion is necessary
    @if (unit($target) == "rem") {
        @return $target;
    }
    @else {
        // dividing by 1px strips the units;
        $target: $target / $base / 1px;
        @return $target * 1rem;
    }
}

// --------------------------------------------------
// MIXINS
// --------------------------------------------------
//
@mixin fontSize($size) {
  font-size: #{$size}px;
  font-size: toREM($size);
}
@mixin rem($property, $value) {
    #{$property}: $value +px;
    #{$property}: toREM($value);
}

// --------------------------------------------------
// HTML Tags
// --------------------------------------------------
//
body { @include fontSize(14); }

h1 { @include fontSize(48); }
h2 { @include fontSize(36); }
h3 { @include fontSize(28); }
h4 { @include fontSize(23); }
h5 { @include fontSize(18); }
h6 { @include fontSize(14); }

