/**
 * Paper Theme
 */

/* HTML
--------------------------------------------------*/
html {
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: rgb(60,60,60);
}

body {
  margin: 2em 4em 3em;
}

nav {
  padding: 1em 0;
}

nav ul {
  list-style-type: none;
  list-style-position: initial;
  list-style-image: initial;
  margin: 0;
  padding: 0;
}

nav ul li a {
  padding: .5em 1em;
  display: block;
  color: rgb(80,80,80);
  text-decoration: none;
}

nav li ul li a {
  padding-left: 2em;
}

nav ul li a:hover {
  color: rgb(0,0,0);
  background-color: rgb(180,180,180);
}

hgroup {
  margin: 16px 0;
}

hgroup > * {
  margin: 0;
}

/* ID
--------------------------------------------------*/
header#main {
  float: left;
  width: 22%;
  margin-right: 3%;
  margin-bottom: 2em;
  border-right: 1px solid rgb(150,150,150);
}

div#main {
  padding-top: 1em;
  margin-left: 25%;
}

footer#main {
  clear: both;
  margin-top: 4em;
  padding-top: 2em;
  border-top: 1px solid rgb(150,150,150);
}

footer#main nav {
  margin: .5em 0;
}

footer#main nav ul ul {
  display: none;
}

footer#main nav li {
  display: inline;
}

footer#main nav a {
  font-size: 10px;
  display: inline;
  padding: 1em;
}

/* Class
--------------------------------------------------*/
hgroup .drophead {
}

/* Blog
--------------------------------------------------*/
section#blog article:first-child {
  border-top: 1px solid rgb(220,220,220);
}

section#blog article {
  border-bottom: 1px solid rgb(220,220,220);
  padding: 16px;
}

section#blog article div {
  margin-left: 80px;
}

section#blog article div h1 {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 24px;
}

section#blog article div h1 a {
  text-decoration: none;
}

section#blog article footer {
  float: left;
  margin-left: 24px;
}

section#blog article footer p {
  margin: 0;
  font-size: 12px;
  text-align: center;
}

section#blog article footer time.month {
  font-weight: bold;
}

section#blog article footer time.day {
  font-weight: 100;
}

article#blog-post.docs {
  margin: 16px;
}

article#blog-post.docs h2 {
  background-color: rgb(220,220,220);
  padding: 8px 16px;
}

article#blog-post.docs .TODO {
  color: rgb(180,50,50);
}

article#blog-post.docs dl {
  margin-left: 32px;
}

article#blog-post.docs dl dt {
  font-weight: bold;
  margin: 16px 0 0 0;
  color: rgb(0, 100, 200);
}

article#blog-post.docs dl dt em {
  font-weight: normal;
  font-size: 12px;
  position: relative;
  top: -2px;
  color: rgb(200, 200, 150);
}

article#blog-post.docs dl dd {
  margin: 0 0 16px 0;
}

/* DEBUGGING
--------------------------------------------------*/
#debugging {
  position: fixed;
  width: 50%;
  background-color: rgb(150,150,150);
  background-color: rgba(150,150,150,.5);
  padding: 1em;
  bottom: 0px;
  left: 0px;
  font-size: 10px;
}
#debug-content { display: none; }
