/**
 * Respond theme
 * _settings
 */

// Typography settings
$textColor: rgb(0,0,90);
$fontStack: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;

// Canvas settings for responsive design
$canvasPosition: center;
$canvasSmall:  320px;
$canvasMedium: 768px;
$canvasLarge:  1048px;

// Grid settings
$totalColumns: 12;
