# Apache configuration file
# httpd.apache.org/docs/2.2/mod/quickreference.html

# Note .htaccess files are an overhead, this logic should be in your Apache config if possible
# httpd.apache.org/docs/2.2/howto/htaccess.html

# Techniques in here adapted from all over, including:
#   Kroc Camen: camendesign.com/.htaccess
#   perishablepress.com/press/2006/01/10/stupid-htaccess-tricks/
#   Sample .htaccess file of CMS MODx: modxcms.com

# ----------------------------------------------------------------------
# Safeguard non-public area by redirecting to the web folder
# ----------------------------------------------------------------------

# We first add .htaccess file in the root directory which will redirect all calls to the public folder
<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule    ^$   web/    [L]
    RewriteRule    (.*) web/$1  [L]
 </IfModule>
