/**
 * Respond theme SASS stylesheet
 */
/**
 * Respond theme
 * _settings
 */
/**
 * Respond theme
 * _functions
 */
/**
 * Respond theme
 * _grid
 */
.row {
  width: 1048px;
  max-width: 100%;
  min-width: 320px;
  margin: 0 auto; }
  .row .row {
    width: auto;
    max-width: none;
    min-width: 0;
    margin: 0 -16px; }
    .row .row.collapse .column, .row .row.collapse .columns {
      margin: 0; }
  .row.collapse .column, .row.collapse .columns {
    padding: 0; }

.column, .columns {
  float: left;
  min-height: 1px;
  padding: 0 16px;
  position: relative; }
  .column.centered, .columns.centered {
    float: none;
    margin: 0 auto; }

.one {
  width: 8.33333%; }

.two {
  width: 16.66667%; }

.three {
  width: 25%; }

.four {
  width: 33.33333%; }

.five {
  width: 41.66667%; }

.six {
  width: 50%; }

.seven {
  width: 58.33333%; }

.eight {
  width: 66.66667%; }

.nine {
  width: 75%; }

.ten {
  width: 83.33333%; }

.eleven {
  width: 91.66667%; }

.twelve {
  width: 100%; }

img, object, embed {
  max-width: 100%;
  height: auto; }

object, embed {
  height: 100%; }

img {
  -ms-interpolation-mode: bicubic; }

#map_canvas img, .map_canvas img {
  max-width: none!important; }

/* Nicolas Gallagher's micro clearfix */
.row {
  *zoom: 1; }
  .row:before, .row:after {
    content: "";
    display: table; }
  .row:after {
    clear: both; }

html {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  box-sizing: border-box; }

body {
  width: 320px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.25); }

@media screen and (max-width: 767px) {
  html {
    background: red; }

  body {
    width: 320px; } }
@media screen and (min-width: 768px) and (max-width: 1047px) {
  html {
    background: blue; }

  body {
    width: 768px; } }
@media screen and (min-width: 1048px) {
  html {
    background: green; }

  body {
    width: 1048px; } }
