/**
 * LESSCSS.org
 * styles using the LESS compiler
 * for developement only. to publish create a CSS file with the 
 * compiled styles
 */

// Variables
// --------------------------------------------------
@white           : rgb(200,200,200);
@black           : rgb(50,50,50);
@BaseColor       : rgb(180,0,40);
@AccentColor1    : rgb(158,55,42);
@AccentColor2    : rgb(192,182,19);
@linkColor       : @AccentColor1;
@linkColorAlt    : lighten( @AccentColor1, 10%);
@baseFontSize    : 16px;
@BaseCopyColor   : @black;
@fontFamilyStack : serif;
@fontFamilyAlt   : Trebuchet, sans-serif;


// Mixins
// --------------------------------------------------
@import 'goodies';
@import 'elements/elements';

// Helpers
// --------------------------------------------------
.clear:after
{
  content: ".";
  display: block;
  height: 1px;
  line-height: 1px;
  visibility: hidden;
  clear: both;
}

img.alignleft
{
  float: left;
  margin-right: @baseFontSize;
  margin-bottom: @baseFontSize;
}

// HTML Basic
// --------------------------------------------------
html
{
  width: 100%;
  height: 100%;
}

body
{
  margin: 0 auto;
  width: 960px;
  background: url('/images/wallpaper.png') repeat;
  font-size: @baseFontSize;
  font-family: @fontFamilyStack;
  color: @BaseCopyColor;
  line-height: 1.68;
  padding-bottom: @baseFontSize;
}

ins
{
  background-color: hsl( hue(@AccentColor2), 100%, 75% );
}

// Headings
// --------------------------------------------------
h1, h2, h3, h4, h5, h6
{
  font-family: @fontFamilyAlt;
  margin: 0.5em 0;
}

h1
{
  font-size: 2.25em;
  color: @BaseColor;
}
h2
{
  font-size: 2.00em;
  color: @AccentColor1;
}
h3
{
  font-size: 1.75em;
  color: darken( @AccentColor1, 10% );
}
h4
{
  font-size: 1.50em;
  color: darken( @AccentColor1, 20% );
}
h5
{
  font-size: 1.25em;
  color: darken( @AccentColor1, 20% );
}
h6
{
  font-size: 1.00em;
  color: darken( @AccentColor1, 20% );
}

// Stop nested elemnts from shrinking further
h1, h2, h3, h4, h5, h6
{
  *
  {
    font-size: 1em;
  }
}

// place this after the h# tags
hgroup 
{
  margin: 2em 0;
  * { margin: 0; }
}

// Body copy elements
// --------------------------------------------------
p,
dl,
li
{
  font-size: 0.875em;

  // Stop nested elements from shrinking further
  * { font-size: 1em; }
}

li
{
  *
  {
    // 2nd level elements are smaller
    font-size: 0.875em;

    *
    {
      // then stop shrinking
      font-size: 1em;
    }
  }
}

dl {
  dt {
    font-weight: bold;
    margin-top: 0.5em;
  }

  dd {
  }
}

article
{
  footer
  {
    font-size: 0.875em;
    color: lighten( @BaseCopyColor, 30);
  }
}

footer#main
{
  border-top: 1px solid;
  margin-top: 2em;
  padding-top: 2em;
}

// Styles by ID tags
// --------------------------------------------------
header#main
{
  margin-top: @baseFontSize;
}

#identity
{
  margin: .25em 0 1em 0;
  float: left;

  h1
  {
    font-weight: bold;
  }
}

nav#main
{
  float: left;
  margin: 0 0 0 1em;
}

// MENU
// <nav class="menu"><ul><li><a></a></li></ul></nav>
// --------------------------------------------------
nav.menu
{
  a,
  a:link,
  a:active,
  a:visited
  {
    text-decoration: none;
  }

  ul
  {
    height: 48px;

    li
    {
      display: inline;
      padding: .25em 1.25em;
      font-size: 1em;
      font-family: @fontFamilyAlt;
      line-height: 48px;
      border-right: 2px solid @AccentColor1;

      a
      {
        color: @AccentColor1;
      }

      &.last
      {
        border-right: 0 none;
      }

      &:hover
      {
        a
        {
          color: darken( @AccentColor1, 20% );
        }

        ul
        {
          display: block;
        }
      }
    }

    ul
    {
      display: none;
      position: absolute;
    }
  }
}

nav.menu.dewey {
  position: relative;

  ul {
    overflow: hidden;
    height: 5em;

    li {
      display: block;
      float: left;
      border: 0 none;
      line-height: 1.75em;
      font-size: 1.25em;
      font-weight: bold;
      margin-top: 2em;
      transition: margin-top 0.5s;
      -webkit-transition: margin-top 0.5s;

      &:hover { margin-top: 0em; }

      a {
      }
      a:hover {
      }

      ul {
        position: relative;
        display: block;
        overflow: normal;
        height: auto;

        li {
          display: block;
          float: none;
          padding: 0;
          font-size: 0.875em;
          font-weight: normal;
          transition: margin-top 0s;
          margin-top: 0em;

          a {
          }
          a:hover {
          }
        }
      }
    }
  }
}

footer nav.menu
{
  a,
  a:link,
  a:active,
  a:visited
  {
    text-decoration: none;
  }

  ul
  {
    height: auto;

    li
    {
      display: block;
      padding: .125em 0;
      font-size: 0.875em;
      font-family: @fontFamilyAlt;
      line-height: inherit;
      border-right: 0 none;

      a
      {
        color: @AccentColor1;
      }

      &:hover
      {
        a
        {
          color: darken( @AccentColor1, 20% );
        }
      }
    }
  }
}

// .orbit-wrapper holds the Orbit slider
// it needs some space for the bullets below the slider which overlap the following content
.orbit-wrapper
{
  margin: 20px 10px 40px;
  .shadow();

  div.orbit
  {
    width: 960px;
    height: 450px;
    background: #000 url('../plugins/orbit/orbit/loading.gif') no-repeat 50% 50%;
    overflow: hidden;

    img, div { display: none; }
  }
}
