@import url(http://fonts.googleapis.com/css?family=Kreon);
/**
 * Respond theme
 * _settings
 */
/**
 * Respond theme
 * _functions
 */
/**
 * Respond theme
 * _grid
 */
* {
  box-sizing: border-box; }

.row {
  width: 1048px;
  max-width: 100%;
  min-width: 320px;
  margin: 0 auto; }
  .row .row {
    width: auto;
    max-width: none;
    min-width: 0;
    margin: 0 -16px; }
    .row .row.collapse .column, .row .row.collapse .columns {
      margin: 0; }
  .row.collapse .column, .row.collapse .columns {
    padding: 0; }

.column, .columns {
  float: left;
  min-height: 1px;
  padding: 0 16px;
  position: relative; }
  .column.centered, .columns.centered {
    float: none;
    margin: 0 auto; }

.one {
  width: 8.33333%; }

.two {
  width: 16.66667%; }

.three {
  width: 25%; }

.four {
  width: 33.33333%; }

.five {
  width: 41.66667%; }

.six {
  width: 50%; }

.seven {
  width: 58.33333%; }

.eight {
  width: 66.66667%; }

.nine {
  width: 75%; }

.ten {
  width: 83.33333%; }

.eleven {
  width: 91.66667%; }

.twelve {
  width: 100%; }

img, object, embed {
  max-width: 100%;
  height: auto; }

object, embed {
  height: 100%; }

img {
  -ms-interpolation-mode: bicubic; }

#map_canvas img, .map_canvas img {
  max-width: none!important; }

/* Nicolas Gallagher's micro clearfix */
.row {
  *zoom: 1; }
  .row:before, .row:after {
    content: "";
    display: table; }
  .row:after {
    clear: both; }

@media screen and (max-width: 767px) {
  .column, .columns {
    float: none;
    width: 100%; } }
html {
  font-size: 62.5%; }

body {
  font-size: 14px;
  font-size: 1.4rem; }

h1 {
  font-size: 48px;
  font-size: 4.8rem; }

h2 {
  font-size: 36px;
  font-size: 3.6rem; }

h3 {
  font-size: 28px;
  font-size: 2.8rem; }

h4 {
  font-size: 23px;
  font-size: 2.3rem; }

h5 {
  font-size: 18px;
  font-size: 1.8rem; }

h6 {
  font-size: 14px;
  font-size: 1.4rem; }

.threecolumns .column {
  float: left;
  width: 33%; }

.threecolumns .last,
.fourcolumns .last {
  float: right; }
.threecolumns .last::after,
.fourcolumns .last::after {
  content: '';
  clear: both; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clear:after {
  content: ".";
  display: block;
  height: 1px;
  line-height: 1px;
  visibility: hidden;
  clear: both; }

img.alignright,
figure.alignright {
  float: right;
  margin-left: 16;
  margin-bottom: 16; }

img.alignleft,
figure.alignleft {
  float: left;
  margin-right: 16;
  margin-bottom: 16; }

.fancy-framework {
  color: #aae100;
  font-weight: bold;
  font-style: italic; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  border-top: 10px solid #aae100;
  position: relative;
  margin: 0 auto;
  font-family: "Helvetica Neue", Helvetica, "Trebuchet MS", Arial, sans-serif;
  color: #333333;
  line-height: 1.68;
  padding-bottom: 16; }

:focus {
  outline: none; }

::selection {
  background: #aae100;
  color: #fff; }

img#background {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  z-index: -1; }

a,
a:link,
a:active,
a:visited {
  color: #aae100;
  transition: color 0.25s ease-in;
  -o-transition: color 0.25s ease-in;
  -moz-transition: color 0.25s ease-in;
  -webkit-transition: color 0.25s ease-in; }
  a:hover,
  a:link:hover,
  a:active:hover,
  a:visited:hover {
    color: #d8ff62; }

aside {
  float: right;
  margin: 0 0 1em 1em;
  padding: .75em;
  width: 25%;
  border-style: solid;
  border-width: 0 0 0 1px; }
  aside.left {
    float: left;
    margin: 0 1em 1em 0;
    border-width: 0 1px 0 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: Kreon, serif;
  margin: 0.75em 0 0;
  line-height: 1.6; }

.drophead {
  font-weight: 900; }

h1 + .drophead {
  font-size: 24px;
  font-size: 2.4rem; }

h1 {
  font-size: 32px;
  font-size: 3.2rem;
  font-weight: normal;
  color: #aae100; }

h2 {
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: 500;
  color: #83ae00; }

h3 {
  font-size: 18px;
  font-size: 1.8rem;
  color: #5d7b00; }

h4 {
  font-size: 16px;
  font-size: 1.6rem;
  color: #364800; }

h5 {
  font-size: 14px;
  font-size: 1.4rem;
  color: #364800; }

h6 {
  font-size: 12px;
  font-size: 1.2rem;
  color: #364800; }

hgroup {
  margin: 2em 0; }
  hgroup * {
    margin: 0; }

p,
dl,
li {
  font-size: 14px;
  font-size: 1.4rem; }

li * {
  font-size: 12; }

dl dt {
  font-weight: bold;
  margin-top: 0.5em; }

article footer {
  font-size: 12;
  color: gray; }

header#main {
  margin-top: 16; }

#identity {
  font-weight: bold;
  margin: .25em 0 .25em 0; }
  #identity a {
    font-size: 36px;
    font-size: 3.6rem;
    color: #333333;
    text-decoration: none; }
  #identity:before {
    content: url("/themes/grass/images/Liriope-logo.gif");
    padding-right: 10px;
    position: relative;
    top: 15px; }

.svg #identity:before {
  content: url("/themes/grass/images/Liriope-logo.svg"); }

div#main {
  margin-top: 2em; }

footer#footer {
  border-top: 1px solid;
  margin-top: 2em;
  padding-top: 2em; }
  footer#footer p {
    font-size: 12px;
    font-size: 1.2rem; }

.content {
  max-width: 1100px;
  width: 90%;
  margin: auto;
  padding: 0 40px;
  overflow: auto; }

div.image {
  background: #cccccc;
  float: right;
  padding: 10px;
  margin: 0 0 20px 20px;
  font-size: 12px;
  -moz-border-radius: 10px 10px 4px 4px;
  -webkit-border-radius: 10px 10px 4px 4px;
  border-radius: 10px 10px 4px 4px;
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  -webkti-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); }
  div.image.alignright {
    float: right;
    margin: 0 0 20px 20px; }
  div.image.alignleft {
    float: left;
    margin: 0 20px 20px 0; }
  div.image.thumb {
    padding: 2px; }
  div.image img {
    display: block;
    margin-bottom: 10px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px; }
  div.image p.caption {
    font-size: inherit;
    padding: 0;
    margin: 10px 0 5px; }

nav#main.menu {
  margin: 0 0 1;
  padding-bottom: 16;
  *zoom: 1;
  border-bottom: 3px solid #aae100; }
  nav#main.menu:before, nav#main.menu:after {
    content: "";
    display: table; }
  nav#main.menu:after {
    clear: both; }
  nav#main.menu ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  nav#main.menu a, nav#main.menu a:link, nav#main.menu a:active, nav#main.menu a:visited {
    text-decoration: none;
    color: #333333; }
    nav#main.menu a.active, nav#main.menu a:link.active, nav#main.menu a:active.active, nav#main.menu a:visited.active {
      color: #aae100; }
  nav#main.menu li {
    float: left;
    margin: 0 4px; }
  nav#main.menu li a:first-child {
    float: left;
    height: inherit;
    font-size: 24px;
    padding: 0 16px; }
  nav#main.menu ul.children li {
    float: none; }
    nav#main.menu ul.children li a {
      font-size: 12px;
      height: auto; }

footer nav.menu a,
footer nav.menu a:link,
footer nav.menu a:active,
footer nav.menu a:visited {
  text-decoration: none; }
footer nav.menu ul {
  height: auto; }
  footer nav.menu ul li {
    display: block;
    padding: .125em 0;
    font-size: 12;
    font-family: "Helvetica Neue", Helvetica, "Trebuchet MS", Arial, sans-serif;
    line-height: inherit;
    border-right: 0 none; }
    footer nav.menu ul li a {
      color: #83ae00; }
    footer nav.menu ul li:hover a {
      color: #364800; }
    footer nav.menu ul li:hover ul {
      display: none; }
    footer nav.menu ul li ul {
      display: none; }

.orbit-wrapper {
  margin: 20px 10px 40px;
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  -webkti-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); }
  .orbit-wrapper div.orbit {
    width: 960px;
    height: 450px;
    background: black url("../plugins/orbit/orbit/loading.gif") no-repeat 50% 50%;
    overflow: hidden; }
    .orbit-wrapper div.orbit img, .orbit-wrapper div.orbit div {
      display: none; }

section#blog article {
  padding-left: 60px;
  margin: .5em 0;
  border-bottom: 1px solid;
  position: relative;
  overflow: hidden; }
  section#blog article footer {
    float: left;
    width: 60px;
    margin: 0.25em 0 0.125em -60px;
    text-align: center;
    font-size: 10px;
    line-height: 1.125;
    color: #323232;
    text-shadow: black 0px 1px 3px;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px; }
    section#blog article footer time.day {
      font-weight: bold;
      font-size: 14px; }
  section#blog article h1 {
    margin: 0; }
  section#blog article p {
    margin: 0 0 .5em 0; }
  section#blog article a {
    text-decoration: none;
    color: #83ae00;
    transition-property: color;
    transition-duration: .5s;
    transition-delay: .5s;
    transition-timing-function: ease-out; }
  section#blog article a:hover {
    color: #5d7b00; }

.pagination a, .pagination span {
  margin: 0em .5em;
  padding: 0em .5em;
  font-size: 12px;
  float: left;
  display: block;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.5);
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  -webkti-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); }
.pagination span {
  color: gray; }
.pagination a:hover {
  background-color: white; }
.pagination a.first,
.pagination a.last {
  display: none; }
.pagination a.page {
  width: 1.25em;
  text-align: center; }
.pagination a.current {
  color: #333333; }

.gallery .frame {
  width: 200px;
  height: 200px;
  overflow: hidden; }
  .gallery .frame a {
    display: block;
    overflow: hidden; }
  .gallery .frame .image {
    display: block;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: 50% 50%; }

#debugging {
  position: fixed;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  padding: 16px; }
  #debugging h1 {
    font-size: 14px;
    color: white;
    text-shadow: none;
    background-color: black;
    display: inline;
    padding: 8px;
    margin: 0; }
  #debugging #debug-content {
    display: none;
    width: 90%;
    background: black;
    color: white;
    margin: 0;
    padding: 1em 1em 1em 2em; }
    #debugging #debug-content li {
      font-size: 10px; }

form#search {
  width: 90%;
  margin: 16px auto;
  text-align: center; }
  form#search input {
    line-height: 1.125;
    font-size: 16px;
    padding: 8px 16px;
    outline: none;
    border: 1px solid #787878;
    border-color: transparent; }
  form#search input.searchbox {
    width: 50%;
    margin: 0 auto;
    border: 1px solid #333333; }

#searchresults ol li p {
  margin: 0; }
#searchresults ol li .title {
  font-size: 20px; }
#searchresults ol li .url {
  color: #83ae00; }
#searchresults ol li .score {
  font-size: 12px;
  font-weight: 100; }

code, pre {
  font-size: 12;
  background-color: #cccccc;
  border: 1px solid #b4b4b4;
  padding: 16; }

pre {
  margin: 16;
  overflow: hidden; }
