.threecolumns
{
  overflow: hidden;
}

.threecolumns .column
{
  width: 33%;
  float: left;
}

.threecolumns .last
{
  width: 32%;
}
.threecolumns .last:after
{
  content: '.';
  display: block;
  height: 0px;
  visibility: hidden;
  clear: both;
}
