/**
 * Grid
 */

$totalColumns: 12 !default;
$rowWidth: $canvasLarge !default;
$defaultFloat: left !default;
$columnGutter: 32px !default;

* { box-sizing: border-box; }

.row {
  width: $rowWidth;
  max-width: 100%;
  min-width: $canvasSmall;
  margin: $columnGutter / 2 auto;
  
  .row {
    width: auto;
    max-width: none;
    min-width: 0;
    margin: $columnGutter / 2 (-($columnGutter / 2));

    &.collapse {
      .column, .columns { margin: 0; }
    }
  }

  &.collapse {
    .column, .columns { padding: 0; }
  }
}

.column, .columns {
    float: $defaultFloat;
    min-height: 1px;
    padding: 0 ($columnGutter / 2);
    position: relative;

    &.centered {
        float: none;
        margin: 0 auto;
    }
}

// Creating column classes
@for $i from 1 through $totalColumns {
    .#{convert-number-to-word($i)} {
        width: 100% / $totalColumns * $i;

        @media screen and (max-width: $canvasMedium - 1) {
            float: none;
            width: 100%;
        }
    }
}

img, object, embed { max-width: 100%; height: auto; }
object, embed { height: 100%; }
img { -ms-interpolation-mode: bicubic; }
#map_canvas img, .map_canvas img {max-width: none!important;}

/* Nicolas Gallagher's micro clearfix */
.row {
  @include clearfix();
}

/**
 * Block grid
 */

.block-grid {
    display: block;
    overflow: hidden;
    padding: 0;
    @include clearfix();

    &>li {
        @media screen and (min-width: $canvasMedium) {
            display: block;
            height: auto;
            float: $defaultFloat;
        }
    }

    @for $i from 1 through $totalColumns {
        &.#{convert-number-to-word($i)}-up {
            @if $i == 1 { margin: 0; }
            @else { margin: 0 -4px; }
            &>li {
                @if $i == 1 { padding: 0 0 15px; }
                @else { padding: 0 4px 4px; }
                @if $i > 1 { &:nth-child(#{$i}n+1) { clear: both; } }

                @media screen and (min-width: $canvasMedium) {
                    width: 100%/$i;
                }
            }
        }
    }
}

