# Apache configuration file

# ----------------------------------------------------------------------
# Start rewrite engine
# ----------------------------------------------------------------------

<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  RewriteEngine On
</IfModule>

# Rewrite "www.example.com -> example.com" 

<IfModule mod_rewrite.c>

  RewriteBase /

  RewriteCond %{HTTPS} !=on
  RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
  RewriteRule ^ http://%1%{REQUEST_URI} [R=301,L]

  RewriteRule %{REQUEST_FILENAME} !-f
  RewriteRule %{REQUEST_FILENAME} !-d
  RewriteRule ^images/.*$ - [PT]
  RewriteRule ^css/.*$ - [PT]
  RewriteRule ^js/.*$ - [PT]
  RewriteRule ^plugins/.*$ - [PT]
  RewriteRule ^themes/.*$ - [PT]
  RewriteRule ^content/.*$ - [PT]
  RewriteRule ^snippets/.*$ - [PT]
  RewriteRule ^favicon.ico*$ - [PT]

  RewriteCond %{REQUEST_URI} !=/index.php
  RewriteRule ^(.*)$ index.php?url=$1 [L]
</IfModule>

Options -MultiViews 

<IfModule mod_rewrite.c>
  RewriteRule "(^|/)\." - [F]
</IfModule>
