# Liriope .htaccess

# enable php as a directoyr index
# fail-safe since this should be enabled
DirectoryIndex index.php index.html index.htm

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# CONFIG: if you are running the site in a subfolder
# then you need to add the folder name to this
# RewriteBase directive
#
# example: http://yoursite.com/subfolder
# RewriteBase /subfolder
#
RewriteBase /

#RewriteRule ^images/.*$ - [PT]
#RewriteRule ^css/.*$ - [PT]
#RewriteRule ^js/.*$ - [PT]
#RewriteRule ^plugins/.*$ - [PT]
#RewriteRule ^themes/.*$ - [PT]
#RewriteRule ^content/.*$ - [PT]
#RewriteRule ^snippets/.*$ - [PT]
#RewriteRule ^favicon.ico*$ - [PT]

# everything else is directed to index.php
RewriteRule ^(.*)$ index.php [L]

</IfModule>

Options -MultiViews 
