@import url(http://fonts.googleapis.com/css?family=Kreon);
/* test.scss */
.threecolumns .column {
  float: left;
  width: 33%; }

.threecolumns .last,
.fourcolumns .last {
  float: right; }
.threecolumns .last::after,
.fourcolumns .last::after {
  content: '';
  clear: both; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clear:after {
  content: ".";
  display: block;
  height: 1px;
  line-height: 1px;
  visibility: hidden;
  clear: both; }

img.alignright,
figure.alignright {
  float: right;
  margin-left: 16px;
  margin-bottom: 16px; }

img.alignleft,
figure.alignleft {
  float: left;
  margin-right: 16px;
  margin-bottom: 16px; }

.fancy-framework {
  color: #b40028;
  font-weight: bold;
  font-style: italic; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  position: relative;
  margin: 0 auto;
  font-family: "Helvetica Neue", Helvetica, "Trebuchet MS", Arial, sans-serif;
  color: #333333;
  line-height: 1.68;
  padding-bottom: 16px; }

:focus {
  background-color: #82b400;
  color: #FFFFFF !important;
  outline: none; }

img#background {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  z-index: -1; }

ins {
  background-color: #dcff80; }

a,
a:link,
a:active,
a:visited {
  color: #b40028;
  transition: color 0.25s ease-in;
  -o-transition: color 0.25s ease-in;
  -moz-transition: color 0.25s ease-in;
  -webkit-transition: color 0.25s ease-in; }
  a:hover,
  a:link:hover,
  a:active:hover,
  a:visited:hover {
    color: #ff3561; }

aside {
  float: right;
  margin: 0 0 1em 1em;
  padding: .75em;
  width: 25%;
  border-style: solid;
  border-width: 0 0 0 1px; }
  aside.left {
    float: left;
    margin: 0 1em 1em 0;
    border-width: 0 1px 0 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: Kreon, serif;
  margin: 0.75em 0 0;
  line-height: 1.6; }

h1 {
  font-size: 44px;
  font-weight: normal;
  color: #b40028; }

h2 {
  font-size: 32px;
  color: #9b0022; }

h3 {
  font-size: 28px;
  color: #680017; }

h4 {
  font-size: 24px;
  color: #35000c; }

h5 {
  font-size: 20px;
  color: #35000c; }

h6 {
  font-size: 16px;
  color: #35000c; }

hgroup {
  margin: 2em 0; }
  hgroup * {
    margin: 0; }

p,
dl,
li {
  font-size: 14px; }

li * {
  font-size: 12px; }

dl dt {
  font-weight: bold;
  margin-top: 0.5em; }

article footer {
  font-size: 12px;
  color: gray; }

header#main {
  margin-top: 16px; }

#identity {
  margin: .25em 0 1em 0;
  float: left; }
  #identity h1 {
    font-weight: bold; }

div#main {
  margin-top: 2em; }

footer#footer {
  border-top: 1px solid;
  margin-top: 2em;
  padding-top: 2em; }
  footer#footer p {
    font-size: 12px; }

.content {
  max-width: 1100px;
  width: 90%;
  margin: auto;
  padding: 0 40px;
  overflow: auto; }

div.image {
  background: #cccccc;
  float: right;
  padding: 10px;
  margin: 0 0 20px 20px;
  font-size: 12px;
  -moz-border-radius: 10px 10px 4px 4px;
  -webkit-border-radius: 10px 10px 4px 4px;
  border-radius: 10px 10px 4px 4px;
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  -webkti-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); }
  div.image.alignright {
    float: right;
    margin: 0 0 20px 20px; }
  div.image.alignleft {
    float: left;
    margin: 0 20px 20px 0; }
  div.image.thumb {
    padding: 2px; }
  div.image img {
    display: block;
    margin-bottom: 10px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px; }
  div.image p.caption {
    font-size: inherit;
    padding: 0;
    margin: 10px 0 5px; }

nav#main.menu {
  float: left;
  margin: 0 0 0 1em; }
  nav#main.menu ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  nav#main.menu a, nav#main.menu a:link, nav#main.menu a:active, nav#main.menu a:visited {
    text-decoration: none; }
  nav#main.menu li {
    float: left;
    margin: 0 4px; }
  nav#main.menu li a:first-child {
    float: left;
    height: inherit;
    font-size: 24px;
    padding: 0 16px; }
  nav#main.menu ul.children li {
    float: none; }
    nav#main.menu ul.children li a {
      font-size: 12px;
      height: auto; }

footer nav.menu a,
footer nav.menu a:link,
footer nav.menu a:active,
footer nav.menu a:visited {
  text-decoration: none; }
footer nav.menu ul {
  height: auto; }
  footer nav.menu ul li {
    display: block;
    padding: .125em 0;
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, "Trebuchet MS", Arial, sans-serif;
    line-height: inherit;
    border-right: 0 none; }
    footer nav.menu ul li a {
      color: #9b0022; }
    footer nav.menu ul li:hover a {
      color: #35000c; }
    footer nav.menu ul li:hover ul {
      display: none; }
    footer nav.menu ul li ul {
      display: none; }

.orbit-wrapper {
  margin: 20px 10px 40px;
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  -webkti-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); }
  .orbit-wrapper div.orbit {
    width: 960px;
    height: 450px;
    background: black url("../plugins/orbit/orbit/loading.gif") no-repeat 50% 50%;
    overflow: hidden; }
    .orbit-wrapper div.orbit img, .orbit-wrapper div.orbit div {
      display: none; }

section#blog article {
  padding-left: 60px;
  margin: .5em 0;
  border-bottom: 1px solid;
  position: relative;
  overflow: hidden; }
  section#blog article footer {
    float: left;
    width: 60px;
    margin: 0.25em 0 0.125em -60px;
    text-align: center;
    font-size: 10px;
    line-height: 1.125;
    color: #323232;
    text-shadow: black 0px 1px 3px;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px; }
    section#blog article footer time.day {
      font-weight: bold;
      font-size: 14px; }
  section#blog article h1 {
    margin: 0;
    font-size: 30px; }
  section#blog article p {
    font-size: 12px;
    margin: 0 0 .5em 0; }
  section#blog article a {
    text-decoration: none;
    color: #b40028;
    transition-property: color;
    transition-duration: .5s;
    transition-delay: .5s;
    transition-timing-function: ease-out; }
  section#blog article a:hover {
    color: #fa3232; }

.pagination a, .pagination span {
  margin: 0em .5em;
  padding: 0em .5em;
  font-size: 12px;
  float: left;
  display: block;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.5);
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  -webkti-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); }
.pagination span {
  color: gray; }
.pagination a:hover {
  background-color: white; }
.pagination a.first,
.pagination a.last {
  display: none; }
.pagination a.page {
  width: 1.25em;
  text-align: center; }
.pagination a.current {
  color: #333333; }

.gallery .frame {
  width: 200px;
  height: 200px;
  overflow: hidden; }
  .gallery .frame a {
    display: block;
    overflow: hidden; }
  .gallery .frame .image {
    display: block;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: 50% 50%; }

#debugging {
  position: fixed;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  padding: 16px; }
  #debugging h1 {
    font-size: 14px;
    color: white;
    text-shadow: none;
    background-color: black;
    display: inline;
    padding: 8px;
    margin: 0; }
  #debugging #debug-content {
    display: none;
    width: 90%;
    background: black;
    color: white;
    margin: 0;
    padding: 1em 1em 1em 2em; }
    #debugging #debug-content li {
      font-size: 10px; }

form#search {
  width: 90%;
  margin: 16px auto;
  text-align: center; }
  form#search input {
    line-height: 1.125;
    font-size: 16px;
    padding: 8px 16px;
    outline: none;
    border: 1px solid #787878;
    background-color: rgba(204, 204, 204, 0.5);
    border-color: transparent;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    -moz-box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.4);
    -webkti-box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.4); }
  form#search input.searchbox {
    width: 50%;
    margin: 0 auto; }
  form#search input.submitbutton {
    background-image: url("http://cdn2.iconfinder.com/data/icons/ecqlipse2/SEARCH.png");
    background-size: contain;
    background-repeat: none;
    font-size: 1px;
    text-indent: 0;
    height: 35px;
    width: 35px;
    overflow: hidden;
    line-height: 30px; }

#searchresults ol li p {
  margin: 0; }
#searchresults ol li .title {
  font-size: 20px; }
#searchresults ol li .url {
  color: #9b0022; }
#searchresults ol li .score {
  font-size: 12px;
  font-weight: 100; }

code, pre {
  font-size: 12px;
  background-color: #cccccc;
  border: 1px solid #b4b4b4;
  padding: 16px; }

pre {
  margin: 16px;
  overflow: hidden; }
